<!DOCTYPE html>
<html>
<head>
  <title>GameContestServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  
  <div class="navbar-header">
    <ul class="nav navbar-nav">
    <li<%= if current_page?(users_path) or current_page?(root_path) then ' class=active' end %>>
      <a href="/users">View users</a></li>
      <li<%= if current_page?(new_user_path) then ' class=active' end %>>
        <a  href="/users/new">Create a user</a></li>
      
    </ul>
  </div>
  </nav>

  
<% flash.each do |level, message| %>
  <div class="alert alert-<%= level %>"><%= message %></div>
 <% end %>
<div class="container">
  
<%= yield %>
  
  </div>
  
</body>
</html>
