<!DOCTYPE html>
<html>
<head>
  <title>GameContestServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  
  <div class="navbar-header">
    <ul class="nav navbar-nav">
    <li<%= if current_page?(users_path) or current_page?(root_path) then ' class=active' end %>>
      <a href="/users">View users</a></li>
      <li<%= if current_page?(new_user_path) then ' class=active' end %>>
        <a  href="/users/new">Create a user</a></li>
      
      
      
      <% if logged_in? %>
                <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <% else %>
                <li <%= if current_page?(login_path) then 'class=active' end%>><%= link_to "Log In", login_path %></li>
                <li <%= if current_page?(signup_path) then 'class=active' end%>><%= link_to "Sign Up", signup_path %></li>
          <% end %>
      
    </ul>
  </div>
  </nav>

  
<% flash.each do |level, message| %>
  <div class="alert alert-<%= level %>"><%= message %></div>
 <% end %>
<div class="container">
  
<%= yield %>
  
  </div>
  
</body>
</html>
